<section class="section" style="margin: 30px;
background: #e5ecec;">
    <div class="container">
      <div class="todos__list">
        <div class="todo__item" [class.item__completed]="todo.isCompleted">
         
          <div class="todo__text">
            <span> {{ todo?.value }}</span>
            <p>{{todo?.description}}</p>
           
          </div>
          <div class="todo__controls__box" (click)="$event.stopPropagation()">
            <div class="todo__control__button" (click)="editNote()">
              <i class="material-icons" >edit</i>
            </div>

            <div class="todo__control__button is-danger">
              <i class="material-icons">delete</i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
